# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# custom
_trash/
examples/
description-pl.pdf

kompilator
debugger

src/lexer/lexer.cpp
src/parser/parser.cpp
src/parser/parser.hpp

mw2025/maszyna-wirtualna
mw2025/maszyna-wirtualna-cln

mw2025/lexer.cc
mw2025/parser.cc
mw2025/parser.hh